/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&family=DynaPuff:wght@400;700&display=swap');

/* Farbvariablen für Bright Mode */
:root {
  --bg-color: #F2E8CF;
  --card-color: #386641;
  --button-color: #55874B;
  --button-hover-color: #386641;
  --secondary-card: #A7C957;
  --highlight-color: #BC4749;
  --text-color: #1E1E1E;

  --font-normal: 'Lexend', sans-serif;
  --font-header: 'DynaPuff', cursive;

  --radius: 20px;
  --shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);

  --small: 16px;
  --medium: 24px;
  --big: 34px;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #1E1E1E;
  --card-color: #2A3D2F;
  --button-color: #55874B;
  --button-hover-color: #386641;
  --secondary-card: #8AA13C;
  --highlight-color: #E85D5F;
  --text-color: #EAEAEA;
}

/* Allgemeine Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-normal);
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
}

/* Headings */
h1 {
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 70px;
}

h2 {
  font-size: var(--big);
}

h3 {
  font-size: var(--medium);
}

input,
textarea, 
select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Buttons */
button {
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem;
  font-size: var(--medium);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: var(--font-normal);
}

button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.menu-btn {
  width: 100%;
  padding: 0.5rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Cards */
.card {
  background-color: var(--card-color);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  color: white;
}

/* Sekundäre Cards */
.card.secondary {
  background-color: var(--secondary-card);
  color: black;
}

.card.primary {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  box-shadow: #1E1E1E 4px 4px 12px;
}

/* Highlights */
.highlight {
  color: var(--highlight-color);
  font-weight: bold;
}

/* Container für die gesamte App */
.container {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

/* Grundlegendes Wellenhintergrundbild für kleine Bildschirme */
.wave-background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-image: url('/beatera_bg_additional.svg'); /* Pfad korrigiert */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -1;
  pointer-events: none; 
}

.list-group {
  list-style-type: none;
  padding: 0;
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0;
  border: 1px solid black;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--button-color) #f0f0f0;
}

.list-group::-webkit-scrollbar {
  width: 8px;
}

.list-group::-webkit-scrollbar-track {
  border-radius: 10px;
}

.list-group::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 10px;
}

.list-group::-webkit-scrollbar-thumb:hover {
  background-color: var(--button-hover-color);
}

.list-group-item {
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.3);
  accent-color: var(--button-color);
  cursor: pointer;
}

/* Anpassung für Bildschirme mit mehr Höhe */
@media (min-height: 600px) {
  .wave-background {
    height: 450px; 
    background-size: cover;
  }
}

/* Größeres Hintergrundbild für Bildschirme mit Breite über 800px */
@media (min-width: 800px) {
  .wave-background {
    background-image: url('/beatera_bg_additional_big.svg'); /* Größeres Bild */
  }
}
